---
import { getCollection } from 'astro:content';
import type { SlateEventNodeProps } from '@ty/slate';
import AudioEvent from './AudioEvent.astro';
import VideoEvent from './VideoEvent.astro';
import { randomUUID } from 'crypto';

export interface Props extends Omit<SlateEventNodeProps, 'uuid'> {
  end?: number;
  start?: number;
  sticky?: boolean;
  uuids: string | string[];
  embed?: boolean;
  // player ID needs to be set in RichTextElement for embeds
  playerId?: string;
}

const {
  uuids,
  // include everything by default
  includes = ['media', 'annotations', 'label', 'description'],
  start,
  end,
  sticky,
  embed,
  playerId,
} = Astro.props;

const associatedEvents = await getCollection('events', (ev) =>
  Array.isArray(uuids) ? uuids.includes(ev.id) : ev.id === uuids
);

const annotationData = await getCollection('annotations');
---

{
  associatedEvents.map((event) => {
    const annotationSets = annotationData.filter(
      (an) => an.data.event_id === event.id
    );

    return (
      <div>
        {event.data.item_type === 'Audio' && (
          <AudioEvent
            annotationSets={annotationSets}
            event={event}
            playerId={playerId || randomUUID()}
            {...Astro.props}
          />
        )}
        {event.data.item_type === 'Video' && (
          <VideoEvent
            annotationSets={annotationSets}
            event={event}
            playerId={playerId || randomUUID()}
            {...Astro.props}
          />
        )}
      </div>
    );
  })
}
