---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import { getEntry } from 'astro:content';
import TableOfContents from '@components/TableOfContents.astro';
import { getPages } from 'src/utils/pages';
import RichText from '@components/RichText/index.astro'

const projectData = await getEntry('project', 'project');

const project = projectData.data.project;

const homePageQuery = await getPages(
  (p) => p.data.autogenerate.type === 'home' && !p.data.autogenerate.enabled
);

let homePage
if (homePageQuery.length > 0) {
  homePage = homePageQuery[0]
}
---

<Layout title={project.title}>
  <Container className='py-12 flex flex-col gap-6 textContent'>
    {homePage
      ? (
        <RichText nodes={homePage.data.content} />
      )
      : (
        <h1>{project.title}</h1>
        <h2>{project.description}</h2>
        <TableOfContents />
      )}
  </Container>
</Layout>
