---
import { Bars3Icon } from '@heroicons/react/24/outline';
import { getEntry } from 'astro:content';
import { dynamicConfig } from 'dynamic-astro-config';
import Container from './Container.astro';

const projectData = await getEntry('project', 'project');

const baseUrl = import.meta.env.PROD
  ? projectData.data.project.slug
  : dynamicConfig.base;

export interface Props {
  projectName: string;
  pages: {
    title: string;
    url: string;
  }[];
}

const { projectName } = Astro.props;
---

<div class='bg-secondary text-white w-full h-[80px] py-6'>
  <Container className='flex flex-row items-center gap-[52px]'>
    <Bars3Icon className='w-8 h-8' />
    <a href={`/${baseUrl}`} class='text-lg'>{projectName}</a>
  </Container>
</div>
