---
import { getEntry } from 'astro:content';
import { dynamicConfig } from 'dynamic-astro-config';
import { getPages } from 'src/utils/pages';

const projectData = await getEntry('project', 'project');

const baseUrl = import.meta.env.PROD
  ? projectData.data.publish.publish_pages_app
    ? projectData.data.project.slug
    : undefined
  : dynamicConfig.base;

const pages = await getPages();

const homePage = pages.find((p) => p.data.autogenerate.type === 'home');
---

<div class='py-4 flex flex-col gap-2'>
  {
    pages
      .filter((page) => page.id !== homePage?.id)
      .map((page) => (
        <a
          class={`underline ${page.data.parent ? 'ml-4' : ''}`}
          href={`${baseUrl ? '/' : ''}${baseUrl ? `${baseUrl}/` : '/'}${page.data.autogenerate.enabled ? 'events' : 'pages'}/${page.data.slug || page.id}`}
        >
          <p>{page.data.title}</p>
        </a>
      ))
  }
  <a
    class='underline'
    href={`${baseUrl ? '/' : ''}${baseUrl ? `${baseUrl}/` : '/'}tags`}>Index</a
  >
</div>
