---
const { leaf } = Astro.props;
const linkStyle = {
  color: '#0969c3',
};
---

{
  leaf.link ? (
    <a
      href={leaf.link}
      target='_blank'
      rel='noopener noreferrer'
      style={linkStyle}
    >
      <slot />
    </a>
  ) : (
    <slot />
  )
}
