---
const { leaf } = Astro.props;
---

{
  leaf.link ? (
    <a
      href={leaf.link}
      target='_blank'
      rel='noopener noreferrer'
      class='text-blue-link'
    >
      <slot />
    </a>
  ) : (
    <slot />
  )
}
